<nav id="navbar" class="navbar navbar-inverse" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">		
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="/admin/order">订单</a></li>
        <li role="presentation"><a href="/admin/service">售后服务</a></li>
        <li role="presentation"><a href="/admin/FAQ">常见问题</a></li>
        <li role="presentation"><a href="/admin/gift">礼品兑换</a></li>
        <li role="presentation"><a href="/admin/store">产品配置</a></li>
        <li role="presentation"><a href="/admin/config">基本配置</a></li>
    </ul>
	</div>
	</div>
</nav>