<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<%include nav.ejs %>

<table id="table" class="table table-hover">
</table>

<script>
$(function() {
    $('#table').bootstrapTable({
      data: JSON.parse('<%- JSON.stringify(data) %>'),
      columns:[{
        field: 'name',
        title: '姓名',
        sortable: true
      },{
        field: 'phone',
        title: '电话',
        sortable: true
      },{
        field: 'address',
        title: '地址',
        sortable: true
      },{
        field: 'product',
        title: '产品',
        sortable: true
      },{
        field: 'total',
        title: '数量',
        sortable: true
      },{
        field: 'specifications',
        title: '规格',
        sortable: true
      },{
        field: 'total_money',
        title: '总金额',
        sortable: true
      },{
        field: 'derate_money',
        title: '减免金额',
        sortable: true
      },{
        field: 'pay_money',
        title: '支付金额',
        sortable: true
      },{
        field: 'out_trade_no',
        title: '订单号',
        sortable: true
      },{
        field: 'status',
        title: '状态',
        sortable: true
      },{
        field: 'delivery_company',
        title: '物流公司',
        sortable: true
      },{
        field: 'delivery_track_no',
        title: '物流号',
        sortable: true
      },{
        field: 'create_time',
        title: '下单时间',
        sortable: true
      }],
      search: true,
      showPaginationSwitch: true,
      striped: true,
      pagination: true,
      paginationLoop: false,
      pageList: [10, 20, 30, 40, 50, 100],
      searchOnEnterKey: true,
      showColumns: true,
      showRefresh: true,
      showPaginationSwitch: true,
      showToggle: true,
      showPaginationSwitch: true,
      sortOrder: true
    });



    $("table").on("click","td:not(td:nth-child(11))",function(e){
      var tr = $(this).parent();
      var arr = []
      tr.children().map(function(el){
          arr.push($(this)[0].innerText)
      })
      if(arr[10] =='待发货' || arr[10] == '已发货'){
        $('#myModalLabel').text(arr[10]);//标题
        $('#current_name').val(arr[0]);
        $('#current_phone').val(arr[1]);
        $('#current_address').val(arr[2]);
        $('#current_out_trade_no').val(arr[9]);//订单号
        $('#delivery_track_no').val(arr[12]);
        $('#total').val(arr[4]);
        switch(arr[11]){
          case '申通':
          arr[11] = 'shentong'
          break;
          case '百世': 
          arr[11] =  'huitongkuaidi'
          break;
          default:
          arr[11] = 'shentong'
          break;
        }
        $('#delivery_company').val(arr[11]);
        $('#myModal').modal('show');        
      }
    });
  
    $("table").on("click","td:nth-child(11)",function(e){
      if(arr[10]!='待发货'){
        var tr = $(this).parent();
        var arr = []
        tr.children().map(function(el){
            arr.push($(this)[0].innerText)
        })
          $('#myModalLabel').text(arr[10]);//标题
          $('#current_name2').val(arr[0]);
          $('#current_phone2').val(arr[1]);
          $('#current_address2').val(arr[2]);
          $('#current_out_trade_no2').val(arr[9]);//订单号
          $('#delivery_track_no2').val(arr[12]);
          $('#myModal2').modal('show');        
      }
    });
});
</script>

<!-- <button id="modal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">发货</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发货</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="current_name">名字</label>
          <input type="text" class="form-control" name="current_name" id="current_name" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_phone">电话</label>
          <input type="text" class="form-control" name="current_phone" id="current_phone" readonly="true">
        </div>         
        <div class="form-group">
          <label for="current_address">地址</label>
          <input type="text" class="form-control" name="current_address" id="current_address" readonly="true">
        </div> 
        <form action="/admin/order/express" method="post">  
        <div class="form-group">
          <label for="current_out_trade_no">订单号</label>
          <input type="text" class="form-control" name="out_trade_no" id="current_out_trade_no" readonly="true"> 
        </div> 
        <input type="hidden" name="status" value="3"> 
          <div class="form-group">
            <label for="delivery_track_no">物流号</label>
            <input type="text" class="form-control"  name="delivery_track_no" id="delivery_track_no">
          </div> 
          <div class="form-group">
            <label for="delivery_track_no">件数</label>
            <input type="text" class="form-control" id="total" readonly="true">
          </div>                         
          <div class="form-group">
            <label for="delivery_company">物流公司</label>
            <select name="delivery_company" id="delivery_company" class="form-control">
              <option value="shentong">申通</option>
              <option value="huitongkuaidi">百世</option>
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="sub" >确定</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">发货</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="current_name2">名字</label>
          <input type="text" class="form-control" name="current_name" id="current_name2" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_phone2">电话</label>
          <input type="text" class="form-control" name="current_phone" id="current_phone2" readonly="true">
        </div>         
        <div class="form-group">
          <label for="current_address2">地址</label>
          <input type="text" class="form-control" name="current_address" id="current_address2" readonly="true">
        </div> 
        <form action="/admin/order/express" method="post">  
        <div class="form-group">
          <label for="current_out_trade_no2">订单号</label>
          <input type="text" class="form-control" name="out_trade_no" id="current_out_trade_no2" readonly="true"> 
        </div> 
          <div class="form-group">
            <label for="delivery_track_no2">物流号</label>
            <input type="text" class="form-control"  name="delivery_track_no" id="delivery_track_no2" readonly="true">
          </div>               
          <div class="form-group">
            <label for="status">状态管理</label>
            <select name="status" id="status" class="form-control">
              <option value="5">交易完成</option>
              <option value="0">交易取消</option>
              <option value="8">交易维权</option>
              <option value="3">已发货</option>
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="sub" >确定</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>