<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>我的二维码</title>
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/m_web.css?_t=20170508">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/lib/weui.css?_t=201701201">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/css/jquery-weui.css?_t=201701201">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m_web.css">
    <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/code.css?_t=20170502">
    <link rel="stylesheet" href="/jqueryweui/lib/weui.min.css">
    <link rel="stylesheet" href="/jqueryweui/css/jquery-weui.min.css">
    <style type="text/css">
    body {
        background-color: #fff;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }
    a{
        color: #000;
    }
    </style>
</head>

<body ontouchstart="">
    <script>
    wx.config({
        debug: false,
        appId: '<%= config.appid %>',
        timestamp: '<%= config.timestamp %>',
        nonceStr: '<%= config.noncestr %>',
        signature: '<%= config.signature %>',
        jsApiList: ['hideAllNonBaseMenuItem']
    });
    wx.ready(function() {
        wx.hideAllNonBaseMenuItem();
    });
    </script>
    <div class="weui-navbar" style="position: static;">
        <div class="weui-navbar__item weui_bar__item_on">
            <a href="/user/my/code">我要推广</a>
        </div>
        <div class="weui-navbar__item">
            <a href="/user/partner">已下单的人</a>
        </div>
        <div class="weui-navbar__item">
            <a href="/user/gift">礼物兑换</a>
        </div>
    </div>
    <div class="page">
        <div class="yqm-conout">
            <p class="tit">邀请好友得奖励</p>
            <div class="Img">
                <span style=" padding-bottom: 70%;">
              <img onclick="previewimg(this)" src="" alt="" style="border: 0 none">
                </span>
            </div>
            <div class="yqm-but">
                <p>如您的二维码过期，请<img src="/images/Refresh.png" alt="" width='13px' height='13px' style="margin:0 5px"><span onclick="gengxin()" style="color:#FF6699;">更新</span></p>
            </div>
            <ul class="yqm-des">
                <li class="top"><span>活动说明</span></li>
                <li><b>长按图片发送给朋友</b></li>
                <li>有人通过您的个人推广二维码关注本公众号，每成功购买一件都算你推广一件，推广件数满足以下数值，可随意兑换好礼。 </li>
		<li><b>满5件:</b>可兑换全家福防雾霾口罩（两大一小)</li>
		<li><b>满10件:</b>满10件，可兑换电话手表一个</li>
		<li><b>满20件:</b>可兑换品牌儿童拉杆箱或空气质量检测仪一个</li>
		<li><b>满30件:</b>可兑换品牌除螨仪一台</li>
		<li><b>满50件:</b>可兑换小米空气净化器一台</li>
		<li>………</li>
		<li>分享越多 好礼越大！ </li>
		<li><b>满100件:</b>可兑换品牌手机一部；</li>
		<li><b>最高奖</b> 价值3999元的海南游</li>
                <p style="list-style:none;color: #FF6688;margin-bottom:8px;margin-top: 8px;margin-left: 5px;"> 注意事项:</p>
                <li>邀请好友按下单件数统计，同一好友每次购买的件数都会累积为您的推广件数</li>
                <li>被邀请好友所购商品需为<span style="color: #FF6688;">防雾霾窗贴</span>产品</li>
                <li>扫描自己的二维码下单，不算在邀请人数内</li>
                <li>邀请的好友中途退款，不算在邀请人数内</li>
            </ul>
        </div>
    </div>
    <!--  弹窗  -->
    <div class="w-out" style="display:none;background: rgba(0,0,0,0)">
        <div class="w-in">
            <p style="text-align:right;display:none">
                <a href="javascript:void(0)" class="close"></a>
            </p>
            <div class="w-in-header"></div>
            <p id="content_code"></p>
        </div>
    </div>
    <!--  弹窗  -->
    <div id="loadingdetail" style="display:block;position:fixed;z-index:10;width:70px;height:70px;top:50%;left:50%;margin-top:-18px;margin-left:-35px;text-align:center;border-radius:3px;background:rgba(0,0,0,.8);color:#fff;z-index:555;padding-top:15px;display: none;"><img src="/images/jz.gif" alt="" style="width:40px;height:40px"></div>
    <script>
    $(function() {
        create_my_code();
    })
    var img_url = '';

    function create_my_code() {
        $('#loadingdetail').show();
        $.ajax({
            url: '/user/my/code/api',
            method: 'get'
        }).done(function(d) {
            img_url = d.url;
            $('.Img').find('img').attr('src', img_url);
            $('#loadingdetail').hide();
        });
    }
    // ok  waining  waiting
    function gengxin() {
        $('.w-out').find('div').find('div').removeClass('waining', 'ok').addClass('waiting');
        $('#content_code').text('更新中...');
        $('.w-out').show();
        $.ajax({
            url: '/user/my/code/api',
            method: 'get'
        }).done(function(d) {
            if (d.f == true) {
                $('#content_code').text('更新成功');
                $('.Img').find('img').attr('src', img_url + '?t=' + new Date().getTime());
            }
            $('.w-out').hide();
        }).fail(function() {

        });
    }
    </script>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script>
//iOS 系统下默认的 click 事件会有300毫秒的延迟，这个延迟是iOS系统的特性而不是jQuery WeUI设定的，可以使用 fastclick 来消除这个延迟。
  $(function() {
    FastClick.attach(document.body);
  });
</script>    
</body>

</html>
