
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>联系客服</title>
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/m_web.css?_t=20170508">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/lib/weui.css?_t=201701201">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/css/jquery-weui.css?_t=201701201">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    
    </head>
  <body ontouchstart="">
        <div class="page">
	<style type="text/css">
	
	body{
		background-color: #fff;
	}
	*{
	   -webkit-tap-highlight-color:transparent;
	}
	</style>

	<div>

	<img src="/images/changjianwenti.jpeg" width="100%" alt="">
	<div class="weui_cells weui_cells_access" style="margin-top:-10px;">
		<% if(data.length> 0){ %>
			<% for(var i = 0;i<data.length;i++ ){ %>
			<a class="weui_cell" href="/user/FAQ/<%= data[i].id %>" >
		    <div class="weui_cell_bd weui_cell_primary">
		      <p style="font-size:14px;"><%= data[i].title %></p>
		    </div>
		    <div class="weui_cell_ft"></div>
		  </a>				
			<% } %>
		<% } %>

<a class="weui_cell" id="colse">
        <div class="weui_cell_bd weui_cell_primary">
          <p style="font-size:14px;color: red;">联系客服</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
  </div>
  <div style="height:20px;width:100%"></div></div>

<script>
  $(function() {
    $.ajax({
      url: '/wx/sdk',
      type: 'get',
      data:{
          url: encodeURIComponent(location.href.split('#')[0])
      }      
    }).done(function(msg) {
      wx.config({
          debug: false,
          appId: msg.appid,
          timestamp: msg.timestamp,
          nonceStr: msg.nonceStr,
          signature: msg.signature,
          jsApiList: ['openAddress']

      });//wx/config end

      $('#colse').on('click', function( ) {
        $.ajax({
          url: '/user/customservice/api',
          type: 'get'
        }).done(function(msg) {
          if(msg.errcode ==0&&msg.errmsg =='ok'){
            wx.closeWindow();         
          }else{
            alert('客服MM不在线哦～');
          }
        });
      });//colse click end
      
    }).fail(function() {
      alert('网络繁忙，请稍后再试');
    });//ajax end
  });

</script>

</html>
