<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/m_web.css?_t=20170508">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/my.css?_t=20170810">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/new_2017/bindTell.css?_t=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="/jqueryweui/lib/weui.min.css">
    <link rel="stylesheet" href="/jqueryweui/css/jquery-weui.css">
    <style type="text/css">
        .poupVerifyBox {
display: inline;
        }
    </style>
</head>
<body ontouchstart>
    <div class="page">

<div class="my-banner">
    <div class="banner-link-panel">
        <div class="top-avatar" style="background:url('<%= data.headimgurl %>') no-repeat center; background-size:cover;"></div>
        <div class="userInfo" style="color: #fff">
            <div class="userName">
                <span><%= data.nick %></span>
            </div> 
            <!-- <div class="subTips">点击编辑个人资料</div> -->
            <p class="telphone"><%= data.phone %></p>
            <p id="openid" style="visibility: hidden;"><%= data.openid %></p>
        </div>
    </div>
</div>

        <div class="weui-cells__title"></div>
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="/user/my/order">
            <div class="weui-cell__hd"><img src="/images/group.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>我的订单</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/user/my/order2">
            <div class="weui-cell__hd"><img src="/images/my_cx.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>退货查询</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/my/code">
            <div class="weui-cell__hd"><img src="/images/code.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>我的二维码</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/partner">
            <div class="weui-cell__hd"><img src="/images/xiadan.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>已下单的人</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/gift">
            <div class="weui-cell__hd"><img src="/images/my_hb.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>礼物兑换</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/FAQ">
            <div class="weui-cell__hd"><img src="/images/contact.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>联系客服</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/user/service">
            <div class="weui-cell__hd"><img src="/images/my_jy.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>问题留言</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>                                               
        </div>
      </div>

<!-- 绑定手机号码弹框-->
<div class="poupVerifyBox hide">
    <div class="bgMask"></div>
    <div class="firstStep hide">
        <div class="phoneNum">
            <p>为了保证您的账户安全，请绑定您的个人手机号码</p>
            <div class="phoneBox">
                <img class="iconPhone" src="//static2.flowerplus.cn/Static/images/icon_phone.svg">
                <input type="tel" class="tel_input row-h40" id="uclogin_mobile" maxlength="11" >
            </div>
        </div>
        <!-- <button class="confirmBind" id="confirmBind">确认绑定</button> -->
        <button class="confirmBind" id="SendCode" disabled>下一步</button>
    </div>
    
    <div class="secStep hide">
        <div class="writeCode">
            <div class="goBack"></div>
            <p class="secTitle">输入验证码</p>
            <p class="secP">验证码发送至&nbsp;<span id="phoneHolder"></span></p>
            <button class="send_agin" id="sendAgin">重新发送</button>
            <div class="inputBox">
                <div class="number border1px borderRadiu2px"></div>
                <div class="number border1px borderRadiu2px"></div>
                <div class="number border1px borderRadiu2px"></div>
                <div class="number border1px borderRadiu2px"></div>
                <input type="tel" id="hiddenInput" maxlength="4">
            </div>
        </div>
        <button class="confirmBind" id="submit" disabled style="bottom: auto;">确认绑定</button>
    </div>

    <div class="lastStep hide">
        <img class="closeImg" src="//static2.flowerplus.cn/Static/images/icon_close.svg">
        <p class="secTitle">绑定成功！</p>
        <img class="sucImg" src="//static2.flowerplus.cn/Static/images/icon_success.svg">
        <p class="secP">当前绑定的手机号</p>
        <p id="hasBindPhonetel">12345678908</p>
    </div>
</div>
</div>
<script src="/js/user.js"></script>
<script src="/jqueryweui/lib/jquery-2.1.4.js"></script>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script>
$(function() {
    FastClick.attach(document.body);
});
</script>
<script src="/jqueryweui/js/jquery-weui.js"></script>
</body>
</html>
