<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">

    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/m_web.css?_t=20180528">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/my.css?_t=20180528">
    <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/new_2017/bindTell.css?_t=20180528">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="/jqueryweui/lib/weui.min.css">
    <link rel="stylesheet" href="/jqueryweui/css/jquery-weui.min.css">
</head>
<script type="text/javascript">
$(function() {
alert('???')    
$('#poupVerifyBox').addClass("g-poupBox-show");
var i = -1;
var num = 60;
var clock = '';
var phone = $('.telphone').text();
var code = '';
function doLoop() {
    num--;
    if(num > 0){
        $('#sendAgin').text(num +'秒');
        $('#SendCode').text(num +'秒');
    }else{
        clearInterval(clock);
        $('#sendAgin').removeAttr('disabled');
        $('#sendAgin').text('重新发送');
        $('#SendCode').removeAttr('disabled');
        $('#SendCode').text('下一步');
        num = 10;
    }
}
function PhoneCode() {
    let data = {
       phone: $('#uclogin_mobile').val() 
    };
    //ajax
    $.ajax({
        url: '/sms/send',
        data: data,
        method: 'post'
    }).done(function(msg) {
        console.log(msg);
        if(msg.code =='1'){
            code = msg.msg;
        }else{
            alert(msg.msg);
        }
    }).fail(function(jqXHR, textStatus) {

    });
    //end ajax        
}
function isPhoneNo(phone) { 
 var pattern = /^1[34578]\d{9}$/; 
 return pattern.test(phone); 
};

alert('???');
})
</script>
<body ontouchstart>
    <div class="page">

<div class="my-banner">
    <div class="banner-link-panel">
        <div class="top-avatar" style="background:url('<%= data.headimgurl %>') no-repeat center; background-size:cover;"></div>
        <div class="userInfo" style="color: #fff">
            <div class="userName">
                <span><%= data.nick %></span>
            </div> 
            <!-- <div class="subTips">点击编辑个人资料</div> -->
            <p class="telphone"><%= data.phone %></p>
            <p id="openid" style="visibility: hidden;"><%= data.openid %></p>
        </div>
    </div>
</div>

        <div class="weui-cells__title"></div>
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="/user/my/order">
            <div class="weui-cell__hd"><img src="/images/group.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>我的订单</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/user/my/order2">
            <div class="weui-cell__hd"><img src="/images/my_cx.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>退货查询</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/my/code">
            <div class="weui-cell__hd"><img src="/images/code.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>我的二维码</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/partner">
            <div class="weui-cell__hd"><img src="/images/xiadan.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>已下单的人</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/gift">
            <div class="weui-cell__hd"><img src="/images/my_hb.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>礼物兑换</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>           
          <a class="weui-cell weui-cell_access" href="/user/FAQ">
            <div class="weui-cell__hd"><img src="/images/contact.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>联系客服</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>
          <a class="weui-cell weui-cell_access" href="/user/service">
            <div class="weui-cell__hd"><img src="/images/my_jy.svg" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
              <h5>问题留言</h5>
            </div>
            <div class="weui-cell__ft"></div>
          </a>                                               
        </div>
      </div>

<!-- 绑定手机号码弹框-->
    <!-- 绑定手机号码弹框-->
    <div id="poupVerifyBox" class="poupVerifyBox">
        <div class="bgMask"></div>
        <div class="firstStep">
            <div class="phoneNum">
                <p>为了保证您的账户安全，请绑定您的个人手机号码</p>
                <div class="phoneBox">
                    <img class="iconPhone" src="//static2.flowerplus.cn/Static/images/icon_phone.svg">
                    <input type="tel" class="tel_input row-h40" id="uclogin_mobile" maxlength="11" >
                </div>
            </div>
            <!-- <button class="confirmBind" id="confirmBind">确认绑定</button> -->
            <button class="confirmBind" id="SendCode" disabled>下一步</button>
        </div>

        <div class="secStep">
            <div class="writeCode">
                <div class="goBack"></div>
                <p class="secTitle">输入验证码</p>
                <p class="secP">验证码发送至&nbsp;<span id="phoneHolder"></span></p>
                <button class="send_agin" id="sendAgin">重新发送短信验证码</button>
                <div class="inputBox">
                    <div class="number border1px borderRadiu2px"></div>
                    <div class="number border1px borderRadiu2px"></div>
                    <div class="number border1px borderRadiu2spx"></div>
                    <div class="number border1px borderRadiu2px"></div>
                    <input type="tel" id="hiddenInput">
                </div>
            </div>
            <button class="confirmBind disabled" id="submit">确认绑定</button>
        </div>

        <div class="lastStep">
            <img class="closeImg" src="//static2.flowerplus.cn/Static/images/icon_close.svg">
            <p class="secTitle">绑定成功！</p>
            <img class="sucImg" src="//static2.flowerplus.cn/Static/images/icon_success.svg">
            <p class="secP">当前绑定的手机号</p>
            <p id="hasBindPhonetel"></p>
        </div>
    </div>

</div>
<!-- <script src="/js/user.js"></script> -->
<!-- <script src="/jqueryweui/lib/jquery-2.1.4.js"></script> -->
<script src="/js/jquery3.3.1.js"></script>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script src="/jqueryweui/js/jquery-weui.js"></script>
<script>    

$(document).ready(function() {

        

    //是否绑定手机
    if(phone.length>10){
        $('#poupVerifyBox').removeClass("g-poupBox-show");        
    }

    //监听手机正确   
    $('#uclogin_mobile').keyup(function(){
      $('#SendCode').show();
      var phone = $('#uclogin_mobile').val();
      var flag = isPhoneNo(phone);
      if(flag){
        if($('#SendCode').text() === '下一步'){
            $('#SendCode').removeAttr('disabled');
        }else{
            return false;
        }
        $('#phoneHolder').text(phone);
      }else{
        $('#SendCode').attr('disabled','');
      }            
    });

    //发送验证吗
    $('#SendCode').on('click',function() {
        PhoneCode();

        $('.secStep').show();
        $('.firstStep').hide();

        $('#sendAgin').attr('disabled','');
        $('#sendAgin').text(num+ '秒');
        $('#SendCode').attr('disabled','');
        $('#SendCode').text(num+ '秒 ');
        clock = setInterval(doLoop, 1000);
    });  

    //返回输入手机号
    $('.goBack').on('click', function() {      
        $('.secStep').hide();
        $('.firstStep').show();
    });

    //重新发送验证码
    $('#sendAgin').on('click', function() {
        PhoneCode();
        $('#sendAgin').attr('disabled','');
        $('#sendAgin').text(num+ '秒');
        $('#SendCode').attr('disabled','');
        $('#SendCode').text(num+ '秒');
        clock = setInterval(doLoop, 1000);
        
    });

    //输入验证吗
    $('#hiddenInput').on('keyup', function() {
        var str  = $(this).val();
        var txt = str.substr(str.length-1,1);
        if(str.length == 0){
            $('.inputBox div').eq(0).text('');  
        }
        $('.inputBox div').addClass('border1px');
        var next = str.length;
        if(next != 0){
            $('.inputBox div').eq(next-1).text(txt).nextAll().text('');                
        }

        //$('.inputBox div').eq(next).removeClass('border1px');

        if(next === 4){
            $('#submit').removeAttr('disabled'); 
        }else{
            $('#submit').attr('disabled','');
        }
    }); 

    function addphone() {
        let data = {
            openid: $('#openid').text(),
            phone: $('#uclogin_mobile').val()
        };
        $.ajax({
            url: '/user/setphone',
            method: 'post',
            data: data
        }).done(function(msg){
            console.log(msg);
        }).fail(function(jqXHR, textStatus){

        });
    }
    //确定验证码
    $('#submit').on('click', function() {
        var code2 = $('#hiddenInput').val();;
        if(code2 === code){
            addphone();

            $('.secStep').hide();
            $('.firstStep').hide();
            $('.lastStep').show();

            $('#hasBindPhonetel').text($('#uclogin_mobile').val());
            $('.telphone').text($('#uclogin_mobile').val());
            setTimeout(function() {
                $('.closeImg').click();
            }, 3000);                       
        }else{
            alert('验证码错误');
        }

    });  
    //关闭窗口
    $('.closeImg').on('click', function() {
        $('.poupVerifyBox').removeClass('g-poupBox-show');        
    });    
    FastClick.attach(document.body);

});
</script>
</body>
</html>
