<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>订单</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<%include nav.ejs %>

<table id="table" class="table table-hover">
</table>

<script>
$(function() {
    $('#table').bootstrapTable({
      url: '/api/admin/order',
      columns:[{
        field: 'name',
        title: '姓名',
        sortable: true
      },{
        field: 'phone',
        title: '电话',
        sortable: true
      },{
        field: 'product',
        title: '产品',
        sortable: true
      },{
        field: 'total',
        title: '数量',
        sortable: true
      },{
        field: 'specifications',
        title: '规格',
        sortable: true
      },{
        field: 'total_money',
        title: '总金额',
        sortable: true
      },{
        field: 'derate_money',
        title: '减免金额',
        sortable: true
      },{
        field: 'pay_money',
        title: '支付金额',
        sortable: true
      },{
        field: 'out_trade_no',
        title: '订单号',
        sortable: true
      },{
        field: 'status',
        title: '状态',
        sortable: true
      },{
        field: 'delivery_company',
        title: '物流公司',
        sortable: true
      },{
        field: 'delivery_track_no',
        title: '物流号',
        sortable: true
      },{
        field: 'create_time',
        title: '下单时间',
        sortable: true
      }],
      search: true,
      showPaginationSwitch: true,
      striped: true,
      pagination: true,
      paginationLoop: false,
      pageList: [10, 20, 30, 40, 50, 100],
      searchOnEnterKey: true,
      showColumns: true,
      showRefresh: true,
      showPaginationSwitch: true,
      showToggle: true,
      showPaginationSwitch: true,
      responseHandler: function(res) {
        res.forEach(function(r) {          
          switch(r.status){
            case 2:
            r.status = '待发货';
            break;
            case 3:
            r.status = '已发货';
            break;
            case 5:
            r.status = '已完成';
            break;
            case 8:
            r.status = '维权中';
            break;
          }
          switch(r.delivery_company){
            case 'shentong':
            r.delivery_company = '申通';
            break;
            case 'huitongkuaidi':
            r.delivery_company = '百世';
            break;
          }          
        });
        return res;
      }
    });



    $("table").on("click","td",function(e){
      var tr = $(this).parent();
      console.log(tr);
      var arr = []
      tr.children().map(function(el){
          arr.push($(this)[0].innerText)
      })
      console.log(arr);
      var name = arr[0];
      var address = arr[1];
      var phone = arr[2];
      var out_trade_no = arr[8];
      $('#current_name').val(name);
      $('#current_phone').val(phone);
      $('#current_address').val(address);
      $('#current_out_trade_no').val(out_trade_no);
      $('#myModal').modal('show');
    });
});
</script>

<!-- <button id="modal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">发货</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发货</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="current_name">名字</label>
          <input type="text" class="form-control" name="current_name" id="current_name" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_phone">电话</label>
          <input type="text" class="form-control" name="current_phone" id="current_phone" readonly="true">
        </div>         
        <div class="form-group">
          <label for="current_address">地址</label>
          <input type="text" class="form-control" name="current_address" id="current_address" readonly="true">
        </div> 
        <div class="form-group">
          <label for="current_out_trade_no">订单号</label>
          <input type="text" class="form-control" name="current_out_trade_no" id="current_out_trade_no" readonly="true"> 
        </div> 
        <form>  
          <div class="form-group">
            <label for="delivery_track_no">物流号</label>
            <input type="text" class="form-control"  name="delivery_track_no" id="delivery_track_no">
          </div>               
          <div class="form-group">
            <label for="delivery_company">物流公司</label>
            <select name="delivery_company" id="delivery_company" class="form-control">
              <option value="shentong">申通</option>
              <option value="huitongkuaidi">百世汇通</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="sub">确定</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sub').click(function() {

    var delivery_company = $('#delivery_company').val();
    var delivery_track_no = $('#delivery_track_no').val();
    var current_out_trade_no = $('#current_out_trade_no').val();
      $('.close').click();
      $.ajax({
        url: '/admin/order/deliver',
        type: 'post',
        data: {
          out_trade_no: current_out_trade_no,
          delivery_company: delivery_company,
          delivery_track_no: delivery_track_no
        }
      }).done(function(msg) {
        if(msg.err){
          alert(msg.err);        
        }else{
          window.location.reload();
        }
      }).fail(function() {
        alert('网络繁忙，请稍后再试！');
      });
  });
</script>
</body>
</html>