<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>产品</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/libs/swiper/swiper-3.4.2.min.css"/>
    <script src="/libs/swiper/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
</head>
<body>
    <div class="main">
        <div class="product">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <img src="/images/chuangtie_xuanzhuan1.jpeg"/>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <img src="/images/chuangtie_xuanzhuan2.jpeg"/>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:">
                            <img src="/images/chuangtie_xuanzhuan3.jpeg"/>
                        </a>
                    </div>                  
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>




<div class="detail">
  <div class="detail-div img-rounded">
                    
                  <div class="detail-group text-center" style="line-height:20px;font-weight:bold;">1件套装</div>


<div class="detail-group" style="margin-top:10px;" id="s_money">
    <div class="hide">
    <span class="col-xs-8" style="width:100%;">
        现价: ¥ <span id="marketprice" class="text-danger" style="font-size:18px; font-weight:bold;">
            159</span> 元&nbsp;/ 件
        <label class="yjia" style="text-decoration:line-through;">
            原价：199</label>
        </span>                     
    </div>
</div>

<div class="detail-group" style="margin-top:10px;">
  <span style="float:left;margin-top:5px;">数量 :</span>
    <div class="input-group" style="width:100px;float:left;margin-left:8px;">
            <span class="input-group-btn"><button class="btn btn-default btn-sm add" type="button">+</button></span>
                <input type="tel" class="form-control" style="width:50px;height:25px;text-align:center" value="1" id="total">
            <span class="input-group-btn"><button class="btn btn-default btn-sm jian" type="button">-</button></span>
    </div>
      <div id="stockcontainer">
          
            <div style="float:left;margin-left:5px;">
                ( 剩余<span > 998 </span> ) 
            </div>
            
      </div>
</div>


<div class="detail-group" style="margin-top:10px;" id="menu_specifications">
  <span style="float:left;margin-top:5px;">规格 :</span>
        <button class="btn btn-default btn-xs">1.3米*0.7米</button>
</div>

    </div>
</div>
<script>
$(function() {
$('#menu_specifications button').on('click',function() {
    $("#menu_specifications button").removeClass("active");  
    $(this).addClass("active");
        var specifications = $(this).text();
        $('#s_money div').addClass('hide');
        $('#stockcontainer div').addClass('hide');
        $('#s_money div[specifications="'+specifications+'"]').removeClass('hide');
        $('#stockcontainer div[specifications="'+specifications+'"]').removeClass('hide');
});
$('#menu_specifications button').eq(0).click();
});
</script>

            <div class="product-js">
                产品详情
            </div>
            <div class="product-item">
<img src="/images/fangwumaichuangtie_01.jpg">
<img src="/images/fangwumaichuangtie_03.jpg">
<img src="/images/fangwumaichuangtie_05.jpg">
<img src="/images/fangwumaichuangtie_07.jpg">
<img src="/images/fangwumaichuangtie_09.jpg">
<img src="/images/fangwumaichuangtie_11.jpg ">
<img src="/images/fangwumaichuangtie_13.jpg">
<img src="/images/fangwumaichuangtie_02.jpg">
<img src="/images/fangwumaichuangtie_04.jpg">
<img src="/images/fangwumaichuangtie_06.jpg">
<img src="/images/fangwumaichuangtie_08.jpg">
<img src="/images/fangwumaichuangtie_10.jpg">
<img src="/images/fangwumaichuangtie_12.jpg">
            </div>

            <div class="footer">
                <a id="pay">立即订购</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            //获得文本框对象
            var t = $(".form-control");
            //初始化数量为1,并失效减
            $('.jian').attr('disabled',true);
             //数量增加操作
                $(".add").click(function(){ 
              // 给获取的val加上绝对值，避免出现负数
                    t.val(Math.abs(parseInt(t.val()))+1);
                    if (parseInt(t.val())!=1){
                        $('.jian').attr('disabled',false);
                    };
                }) 
             //数量减少操作
            $(".jian").click(function(){
                t.val(Math.abs(parseInt(t.val()))-1);
                if (parseInt(t.val())==1){
                    $('.jian').attr('disabled',true);
                };
            });
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true,
                loop:true
            });
        });

        $(function() {      
      $('#pay').on('click', function(event) {
        alert('请在微信上打开');
      });
        });
    </script>
<script src="/jqueryweui/lib/fastclick.js"></script>
<script>
//iOS 系统下默认的 click 事件会有300毫秒的延迟，这个延迟是iOS系统的特性而不是jQuery WeUI设定的，可以使用 fastclick 来消除这个延迟。
  $(function() {
    FastClick.attach(document.body);
  });
</script>
</body>
</html>
