<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-agent" content="format=html5; url=http://localhost:3000/">
    <link rel="canonical" href="http://localhost:3000">
    <title>E-COUGH 小咳嗽</title>
    <link rel="stylesheet" href="/components/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/css/index.css?_t=20170525">
    <!--
    <script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=9266519&amp;url=http%3A%2F%2Fm.flowerplus.cn%2F&amp;source=&amp;rnd=2131732804&amp;hm=1"></script>
    -->
    <!-- google 分析
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    -->
    <!-- 百度统计
    <script src="https://hm.baidu.com/hm.js?deb1341df19187ec5a232b519d62c8a9"></script>
    -->
    <!-- 神策数据分析
    <script async="" src="//static2.flowerplus.cn/Static/js/sa/sensorsdata.min.js"></script>
    -->
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <!-- 微信JS SDK
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    -->
    <script type="text/javascript">
      var _web_base = "http://t.flowerplus.cn/";
      document.domain = "flowerplus.cn";
      document.title = "FLŌWERPLUS 花+";
    </script>
    <script src="/js/m.js"></script>
    <script type="text/javascript" src="/components/swiper/dist/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/components/swiper/dist/js/swiper.js"></script>
    <style>body{ background:#f5f5f5; }</style></head>
  <body>
    <!-- 头部的轮播图 -->
    <div class="swiper-container banner swiper-container-horizontal swiper-container-android">
      <div class="swiper-wrapper" style="transform: translate3d(-1200px, 0px, 0px); transition-duration: 0ms;">
        <div class="swiper-slide" data-swiper-slide-index="0" style="width: 400px;">
          <a href="http://t.flowerplus.cn/f20090" class="banner-mob">
            <img src="http://oss.flowerplus.cn/product/20170522/14954486972345.jpg" alt="MINI PLUS花束月套餐"></a>
        </div>
        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 400px;">
          <a href="http://static2.flowerplus.cn/f20064" class="banner-mob">
            <img src="http://oss.flowerplus.cn/product/20170510/14943977869039.jpg" alt="双子月自由精灵主题花束"></a>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 400px;">
          <a href="https://mp.weixin.qq.com/bizmall/giftcard?action=homepage&amp;page_id=r9ZJvJp7p0rGx%2F4zd9rpXvjdifB21XGmNSsuBqQkA4c%3D&amp;from=singlemessage&amp;isappinstalled=0&amp;card_id=poSgytwdc2R9-Z4LCNROi7aAsr_8&amp;encrypt_code=YW4LLxvubSUv9j2WD829Xdsom13%2FNmXCkeNbrUc14SY%3D&amp;openid=ooSgyt8NTggMMMaTgW7UPoypF9-s#wechat_redirect" class="banner-mob">
            <img src="http://oss.flowerplus.cn/product/20170426/14931765096228.jpg" alt="用花说"></a>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
      </div>
    </div>
    <!-- -->

    <!-- 尾部-->
    <div class="foot">
      <div class="link">
        <a href="/">首页</a>
        <a href="/">会员中心</a>
        <a href="/">常见问题</a>
        <a href="https://m.kuaidi100.com/" target="_blank">快递查询</a>
      </div>
      <p>
        <img src="http://static2.flowerplus.cn/Static/web/v1/Images/logo_open.png" alt=""></p>
    </div>
    <!-- <div class="dialog-bg" style="display:none">
    <div class="dialog">
    <p>您还有<span>0张优惠券</span>未使用</p>
    <div class="dialog-in"></div>
    </div>
    <p><img class="dialog-close" src="//static2.flowerplus.cn/Static/web/v1/Images/colse.png" alt=""></p></div> -->
    <a class="center" href="http://t.flowerplus.cn/my">
      <img src="/images/center.png" alt="">
    </a>
    <script>if ($(".activity_banner").find("img").length == 0) {
        $(".activity_banner").css('paddingBottom', '0');
      }
      var swiper = new Swiper('.banner', {
        loop: true,
        autoplay: 3500,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        preventClicks: false,
        autoplayDisableOnInteraction: false,
        effect: 'slide',
      });
      $(".dialog-bg .dialog-close").click(function(event) {
        $(this).parents(".dialog-bg").hide()
      });
      $(".rolling-more").click(function(event) {
        $(".dialog-bg").show();
      });
      $('#slide3,#slide4').swipeSlide({
        autoSwipe: true,
        //自动切换默认是
        speed: 3000,
        //速度默认4000
        continuousScroll: true,
        //默认否
        transitionType: 'ease-in',
        axisX: false
      });</script>
    <!-- <script type="text/javascript">
    $(function(){
    var submenu=$("#rolling1"),submenu_fixed=$("#rolling2");
    if(submenu.length==0){
    return;
    }
    submenu_fixed.css({opacity:0,background: "rgba(238,238,238,.97)"});
    var submenuTop=submenu.offset().top;
    var isHide=false;
    window.addEventListener("scroll",function(){
    var top=document.body.scrollTop||document.documentElement.scrollTop;
    if(top>=submenuTop){
    if(!isHide){
    isHide=true;
    submenu_fixed.css("opacity",1);
    submenu.css("opacity",0);
    }
    }else{
    if(isHide){
    isHide=false;
    submenu_fixed.css("opacity",0);
    submenu.css("opacity",1);
    }
    }
    },false);
    });
    </script> -->
    <script>var page_type = 'home';
      var sat = 'cb037e036c03aad3';
      var sap = 'default';
      var sau = 'https://flowerplus.cloud.sensorsdata.cn:4006/sa?token=' + sat + '&project=' + sap; (function(para) {
        var p = para.sdk_url,
        n = para.name,
        w = window,
        d = document,
        s = 'script',
        x = null,
        y = null;
        w['sensorsDataAnalytic201505'] = n;
        w[n] = w[n] ||
        function(a) {
          return function() { (w[n]._q = w[n]._q || []).push([a, arguments]);
          }
        };
        var ifs = ['track', 'quick', 'register', 'registerPage', 'registerOnce', 'registerSession', 'registerSessionOnce', 'trackSignup', 'trackAbtest', 'setProfile', 'setOnceProfile', 'appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify', 'login', 'logout'];
        for (var i = 0; i < ifs.length; i++) {
          w[n][ifs[i]] = w[n].call(null, ifs[i]);
        }
        if (!w[n]._t) {
          x = d.createElement(s),
          y = d.getElementsByTagName(s)[0];
          x.async = 1;
          x.src = p;
          y.parentNode.insertBefore(x, y);
          w[n].para = para;
        }
      })({
        sdk_url: '//static2.flowerplus.cn/Static/js/sa/sensorsdata.min.js',
        name: 'sa',
        server_url: sau
        // ,
        // debug_mode:true,
        // debug_mode_upload:false
      });

      sa.quick('autoTrackWithoutProfile', {
        pageType: 'home'
      });</script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?deb1341df19187ec5a232b519d62c8a9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
    <script>(function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
        function() { (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-93082500-1', 'auto');
      ga('send', 'pageview');</script>
    <script>function exist_ga() {
        return typeof ga == 'function';
      }
      function ga_buy() {
        if (!exist_ga()) return;
        ga("send", {
          hitType: "event",
          eventCategory: "订购流程",
          eventAction: "立即购买",
          eventLabel: "详情页购买"
        })
      }
      function ga_submit() {
        if (!exist_ga()) return;
        ga("send", {
          hitType: "event",
          eventCategory: "订购流程",
          eventAction: "确认下单",
          eventLabel: "订单填写页"
        })
      }
      function ga_cancel() {
        if (!exist_ga()) return;
        ga("send", {
          hitType: "event",
          eventCategory: "订购流程",
          eventAction: "取消订单",
          eventLabel: "订单确认页"
        })
      }
      function ga_pay(id, product_name, payment) {
        if (!exist_ga()) return;
        ga("send", {
          hitType: "event",
          eventCategory: "订购流程",
          eventAction: "去支付",
          eventLabel: "订单确认页"
        });
        ga("require", "ecommerce");
        ga("ecommerce:addTransaction", {
          "id": id,
          "affiliation": product_name,
          "revenue": payment,
        });
        ga("ecommerce:send")
      };</script>
    <script type="text/javascript">// if(/\/\/static2\./.test(window.location.href)){
      //     window.location.replace(window.location.href.replace(/\/\/static2\./, '//t.'));
      // }
      </script>