<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>物流</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
</head>
<body>
	<div class="main">
		<div class="order">
			<div class="order-address">
				<ul>
					<li>
						<span>1</span>
						<p>12-10</p>
					</li>
					<li>
						<span>2</span>
						<p>12-17</p>
					</li>
					<li>
						<span>3</span>
						<p>12-24</p>
					</li>
					<li>
						<span>4</span>
						<p>12-31</p>
					</li>
				</ul>
				<p class="userinfo">赵美女<label>13811908888</label></p>
				<span class="useraddress">北京市北京市昌平区龙域东一路融泽嘉园东20号院18号楼20单元8001</span>
			</div>
		</div>
		<div class="logistics">
			<ul>
				<p class="logis-detail-date" style="color: #F40;">今天</p>
				<li class="logis-detail-first">
					<div class="logis-detail-content">
						<p class="logis-detail-content-time"> 13:28 </p> 
						<p class="logis-detail-content-detail"> 【已签收，签收人是李已送到如有问题清及时联系15950055802】 </p>
					</div>
				</li>
				<li>
					<div class="logis-detail-content">
						<p class="logis-detail-content-time"> 13:27 </p> 
						<p class="logis-detail-content-detail"> 苏州市【吴中六部001】，【王东阳】正在派件 电话:18706209745 </p> 
					</div> 
				</li>
				<li>
					<div class="logis-detail-content">
						<p class="logis-detail-content-time"> 13:26 </p>
						<p class="logis-detail-content-detail"> 到苏州市【吴中六部001】 </p>
					</div>
				</li>				
				<li>
					<div class="logis-detail-content">
						<p class="logis-detail-content-time"> 09:19 </p>
						<p class="logis-detail-content-detail"> 苏州市【吴中六部】，正发往【吴中六部001】 </p>
					</div> 
				</li>
				<li>
					<div class="logis-detail-content"> 
						<p class="logis-detail-content-time"> 05:28 </p> 
						<p class="logis-detail-content-detail"> 到苏州市【苏州转运中心】 </p>
					</div> 
				</li>
				<p class="logis-detail-date">昨天</p>
				<li>
					<div class="logis-detail-content">
						<p class="logis-detail-content-time"> 22:14 </p> 
						<p class="logis-detail-content-detail"> 杭州市【杭州转运中心】，正发往【苏州转运中心】 </p> 
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>

