<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>产品</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/libs/swiper/swiper-3.4.2.min.css"/>
	<script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script src="/libs/swiper/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="main">
		<div class="product">
			<div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href="javascript:">
		            		<img src="/images/14951862453097.jpg"/>
		            	</a>
		            </div>
		            <div class="swiper-slide">
		            	<a href="javascript:">
		            		<img src="/images/15003684727311.jpg"/>
		            	</a>
		            </div>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		    </div>
		    <div class="detail">
			    <div class="detail-div img-rounded">
			        <div class="detail-group text-center" style="line-height:20px;font-weight:bold;">1件套装</div>
			        <div class="detail-group" style="margin-top:10px;">
						<span class="col-xs-8" style="width:100%;">
											现价 : ¥ <span id="marketprice" class="text-danger" style="font-size:18px; font-weight:bold;">0.01</span> 元&nbsp;/ 件
											<label class="yjia" style="text-decoration:line-through;">原价：0.1</label>
						</span>
			        </div>
			        <div class="detail-group" style="margin-top:10px;">
			            <span style="float:left;margin-top:5px;">数量 :</span>
			            <div class="input-group" style="width:100px;float:left;margin-left:8px;">
<!-- <span class="input-group-btn"><button class="btn btn-default btn-sm add" type="button">+</button></span> -->
			                <input type="tel" class="form-control" style="width:50px;height:25px;text-align:center" value="1" id="total">
<!-- <span class="input-group-btn"><button class="btn btn-default btn-sm jian" type="button">-</button></span> -->
			            </div>
			            <span id="stockcontainer" style="float:left;margin-left:5px;">( 剩余 <span id="stock"> 9940 </span> ) </span>
			        </div>
			    </div>
			</div>
			<div class="product-js">
				产品详情
			</div>
			<div class="product-item">
				<img src="/images/14997402965602.jpg"/>
				<p>雾霾、我们要对你说不，给窗户贴上“小咳嗽”防雾霾窗贴；妈妈、爸爸们，你们可以时刻开窗、窗外的雾霾阻挡不了窗内风的清丽、光的柔和、99%的纯净空气；</p>
				<p>不再惧怕窗内的甲醛、TVOC……任它们随风飘离。</p>
				<p>我们不希望再看到因雾霾产生的咳嗽宝宝，我们希望娃儿们减轻咳嗽(Ease-Cough),保持着澄澈如初的笑，自然而然，向阳生长。</p>
				<p>时光会告诉你，你所期望的，即使迟到也一定会到。</p>

			</div>
			<div class="product-item">
				<img src="/images/14998319849732.jpg"/>
				<p>“小咳嗽”E-cough高效防雾霾窗贴材料安全环保、高效过滤雾霾（PM2.5颗粒）：使用新型超细纤维过滤材料，三维立体网状结构，医用级空气过滤净度，超大量容尘吸附颗粒物，无毒、无味、环保安全。
可过滤吸附物质：高效过滤、吸附雾霾PM2.5、花粉、尘螨、带菌颗粒、灰尘、柳絮等。</p>
				<p>自然通透：自然风可穿透性强，阻止和吸附雾霾PM2.5同时，保持室内干净通风、换气，挥发室内甲醛、苯等有害气体。</p>
				<p>使用方式：创新家用型，自己轻松贴在您家窗户上</p>
				<p>雾霾天，打开窗，呼吸新鲜空气</p>
				<p>（更新说明：雾霾较严重季节，本产品使用3个月，因吸附大量雾霾（PM2.5颗粒），防雾霾窗贴会由白色变为灰黑色，为了您和家人呼吸新鲜空气，建议3个月内更换一张新的窗贴。）</p>
			</div>
			<div class="footer">
				<a href="/my/pay?openid=<%= userinfo.openid %>">立即订购</a>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			//获得文本框对象
			var t = $(".form-control");
			//初始化数量为1,并失效减
			$('.jian').attr('disabled',true);
			 //数量增加操作
				$(".add").click(function(){ 
			  // 给获取的val加上绝对值，避免出现负数
					t.val(Math.abs(parseInt(t.val()))+1);
			  		if (parseInt(t.val())!=1){
			  			$('.jian').attr('disabled',false);
			  		};
			 	}) 
			 //数量减少操作
			$(".jian").click(function(){
				t.val(Math.abs(parseInt(t.val()))-1);
			 	if (parseInt(t.val())==1){
			 		$('.jian').attr('disabled',true);
			 	};
			});
			var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        paginationClickable: true,
		        loop:true
		    });
		});
    </script>
</body>
</html>
