<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="花+,花加,flowerplus,鲜花,鲜花订阅" >
        <meta name="description" content="一周一花，用鲜花点亮生活,提供98元单品鲜花包月服务、168元混合鲜花包月服务和花艺周边配件、花艺课程服务。">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <title>已下单的人</title>
        <link rel="stylesheet" href="//static2.flowerplus.cn/Static/css/m_web.css?_t=20170508">
        <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/lib/weui.css?_t=201701201">
        <link rel="stylesheet" href="//static2.flowerplus.cn/Static/weui/css/jquery-weui.css?_t=201701201">
        <script src="//static2.flowerplus.cn/Static/weui/lib/jquery-2.1.4.js?_t=201701201"></script>
        <script src="//static2.flowerplus.cn/Static/weui/js/jquery-weui.js?_t=201701201"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body ontouchstart="">
    <div class="page" style="min-height: 50px;">
        <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m.css">
        <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/m_web.css">
        <link rel="stylesheet" type="text/css" href="//static2.flowerplus.cn/Static/css/code.css?_t=20170502">
        <ul class="header-top">
            <li class=""><a href="">我的二维码</a></li>
            <li class="current"><a href="">已下单的人</a></li>
            <li class=""><a href="">我的兑换码</a></li>
        </ul> 
    </div>
    <ul>
        <li><div style="height: 60px; background: #fff">
            <img src="/images/logo.png" style="width: 60px; height: 60px; margin-left: 30px;">
            <label style="padding-left: 30px; width: 60%;"> 藏在面具下的灵魂</label>
            <label class="">(1单)</label>
        </div></li>
    </ul>



    </body>

</html>