<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>售后</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
</head>
<body style="background: #f5f5f5;">
<% if(data.length === 0) { %>
	<div class="text-center">
	<p >你还没有收货地址~T.T</p>
	<p>快点去下单设置收货地址吧</p>
	<a href="/product/100001" class="btn btn-info btn-sm active">去逛逛</a>
	</div>
<% }else{ %>

<ul class="list-group">
<% for(var i = 0; i< data.length; i++){ %>
    <li class="list-group-item" id="<%= data[i].id %>">
    <p><%= data[i].name %><%= data[i].phone %></p><p><%= data[i].address %></p></li>	
<% } %>
<a href="" class="btn btn-info btn-sm active">新增收货地址</a>
<a href="" class="btn btn-danger btn-sm active">删除收货地址</a>
</ul>
<% } %>

<script>
	$(function() {
		$('ul li').on('click', function(event) {
			$(this).addClass('active').siblings().removeClass('active');
			alert(this).attr('id');
		});
	});
</script>

</body>
</html>
