<!DOCTYPE html>
<html>
<head>
    <title>微信用户</title>
    <meta charset="utf-8">
</head>
<body>
 		
    <h1>用户名:</h1>
    <h1>openid:</h1>
    <h1>性别:</h1>
    <h1>国家:</h1>
    <h1>省: </h1>
    <h1>城市:</h1>
    <h1>语言:</h1>
</body>
</html>